body {
  background-color: #f8e7c1;
  font-family: "Cabin", Robot, "Open Sans", sans-serif;
  color: #333;
}

header {
  padding: 50px;
}

.page_title {
  color: #db8623;
  text-align: center;
  margin-bottom: 0;
  font-weight: bold;
}

.tab_area {
  height: 50px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.tab_area .active a {
  color: #db8623;
}

.tab_area a {
  text-decoration: none;
  color: white;
}

.tab_area label {
  background-color: #db8623;
  margin: 0 5px;
  border-radius: 5px 5px 0 0;
  height: 100%;
  line-height: 50px;
  width: 30%;
  text-align: center;
  color: white;
}

.tab_area .active {
  background-color: white;
  color: #db8623;
}

.panel_area {
  background-color: white;
}

.panel {
  width: 70%;
  margin: 0 auto;
  padding: 80px 0;
  display: none;
}

.panel.active {
  display: block;
}

.panel section {
  padding: 5px 0;
}

article.panel {
  letter-spacing: 1px;
  line-height: 1.8;
}

p.list_title {
  font-weight: bold;
  font-size: 1.4rem;
}

section {
  margin: 0 0 30px;
}

#overview_image {
  width: 100%;
}

ul.how_to_use_list {
  list-style-type: none;
}

li.how_to_use_list {
  padding: 5px 0;
}

li.how_to_use_list p {
  margin-bottom: .5rem;
}

.google_play_store_link {
  text-align: center;
}

.contact_list {
  list-style-type: none;
}

.links {
  list-style-type: none;
  display: flex;
  padding-inline-start: 0px;
}

.links li {
  margin-right: 15px;
  width: 50px;
  height: 50px;
  background-color: #db8623;
  border-radius: 50%;
  text-align: center;
}

.links i {
  color: white;
  margin: auto;
  line-height: 50px;
}

footer {
  background-color: white;
  text-align: center;
  padding: 10px 0 30px;
}

/* For mobile phones: */

@media only screen and (max-width: 480px) {
  .tab_area {
    display: flex;
  }

  .tab_area label {
    font-size: .5rem;
    border: 0.5px solid white;
    flex-basis: 100%;
    margin: 0;
    border-radius: 0;
  }

  .panel {
    width: 85%;
  }

}